.todosAlunos{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.aluno{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

}
.cadastroAluno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}